@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script>
        require(['./app']);
    </script>
}
<div id="tabs">
    <ul>
        <li><a href="@Url.Action("summary")">Summary</a></li>
        <li><a href="@Url.Action("details")">Details</a></li>
        <li><a href="@Url.Action("about")">About</a></li>
    </ul>
</div>
